@using CarDealership.Models.ViewModels.Veiculo
@using CarDealership.Models.ViewModels.Concessionaria
@using CarDealership.Models.ViewModels.Cliente
@model CarDealership.Models.ViewModels.Venda.VendaViewModel

@{
    ViewData["Title"] = "Criar venda";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label class="form-label">@Html.DisplayNameFor(f => f.VeiculoId)</label>
                @if (Model.OpcoesVeiculos != null)
                {
                    <select class="form-select" aria-label="Default select example" asp-for="VeiculoId">
                        <option selected>Selecione o veiculo</option>
                        @foreach (VeiculoViewModel veiculo in Model?.OpcoesVeiculos)
                        {
                            <option value=@veiculo.Id>@veiculo.Modelo</option>
                        }
                    </select>
                }
            </div>
            <div class="form-group mb-2">
                <label class="form-label">@Html.DisplayNameFor(f => f.ConcessionariaId)</label>
                @if (Model.OpcoesConcessionarias != null)
                {
                    <select class="form-select" aria-label="Default select example" asp-for="ConcessionariaId">
                        <option selected>Selecione a concessionaria</option>
                        @foreach (ConcessionariaViewModel concessionaria in Model?.OpcoesConcessionarias)
                        {
                            <option value=@concessionaria.Id>@concessionaria.Nome</option>
                        }
                    </select>
                }
                <span asp-validation-for="ConcessionariaId" class="text-danger"></span>
            </div>
            @* <div class="form-group mb-2">
                <label class="form-label">@Html.DisplayNameFor(f => f.ClienteId)</label>
                @if (Model.OpcoesClientes != null)
                {
                    <select class="form-select" aria-label="Default select example" asp-for="ClienteId">
                        <option selected>Selecione o cliente</option>
                        @foreach (ClienteViewModel cliente in Model?.OpcoesClientes)
                        {
                            <option value=@cliente.Id>@cliente.Nome</option>
                        }
                    </select>
                }
            </div> *@
            <div class="mb-3">
                <input type="hidden" id="CriarVenda_IdCliente" asp-for="Cliente.Id" />
                
                <label class="form-label">@Html.DisplayNameFor(f => f.Cliente.CPF)</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="CriarVenda_CPFCliente" asp-for="Cliente.CPF" aria-describedby="basic-addon3 basic-addon4">
                </div>
                <div class="form-text" id="info_cpf_consultado">O CPF sera consultado.</div>

                <label class="form-label">@Html.DisplayNameFor(f => f.Cliente.Nome)</label>
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="Cliente.Nome" id="CriarVenda_NomeCliente" aria-describedby="basic-addon3 basic-addon4">
                </div>

                <label class="form-label">@Html.DisplayNameFor(f => f.Cliente.Telefone)</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="CriarVenda_TelefoneCliente" asp-for="Cliente.Telefone" aria-describedby="basic-addon3 basic-addon4">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DataVenda" class="control-label"></label>
                <input asp-for="DataVenda" class="form-control" />
                <span asp-validation-for="DataVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoVenda" class="control-label"></label>
                <input asp-for="PrecoVenda" class="form-control" />
                <span asp-validation-for="PrecoVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProtocoloVenda" class="control-label"></label>
                <input asp-for="ProtocoloVenda" class="form-control" />
                <span asp-validation-for="ProtocoloVenda" class="text-danger"></span>
            </div>
            <div class="btn-group mt-4" role="group">
                <a class="btn btn-outline-primary" asp-controller="Venda" asp-action="Index">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
